@charset "utf-8";
@import "normalize";

$primary-color: #3397D3;
$secondary-color: #465B4B;
$tertiary-color: #D1D9E3;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, span, a {
  font-family: 'Raleway', sans-serif;
}

.underline-header {
  border-bottom: 1px solid blue;
  font-family: 'Raleway'
}

.plain-link {
  text-decoration: none;
  color: inherit;
}
